:root {
  --dk-brown: #e3d5ca; 
  --wrm-brown: #d5bdaf;    
  }
 
  
html {
  font-size: 15px ;
  font-family: "Montserrat", sans-serif;
  }


.header {
  color: black;
  }
  
body {
  background-color: var(--wrm-brown);
  }

h1   { 
  text-align: center;
}


#todaysWeather {
  width: 100%;
  border-bottom: 5px solid #e3d5ca;
  border-top: 5px solid #e3d5ca;
    
  }  

#weatherContainer {
  width: 90%;
  display: flex;
  flex-wrap: wrap;       
    
  }
  
.weatherCard {
  width: 18%;
  padding: 1%; 
    
  }


  